@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,600;1,900&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    width: 100vw;
    font-size: 18px;
    overflow-x: hidden;
    
    
}

:root {
    --Softred: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Darkdesaturatedcyan: hsl(167, 40%, 24%);
    --Darkblue: hsl(198, 62%, 26%);
    --Darkmoderatecyan: hsl(168, 34%, 41%);

    --Verydarkdesaturatedblue: hsl(212, 27%, 19%);
    --Verydarkgrayishblue: hsl(213, 9%, 39%);
    --Darkgrayishblue: hsl(232, 10%, 55%);
    --Grayishblue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);

    /*  font-family: 'Barlow', sans-serif;
        font-family: 'Fraunces', serif; 
    */
}



header {
    background-image: url(images/desktop/image-header.jpg);
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-clip: content-box;
    padding-top: 0px;
    height: 100%;
    width: 100%;
    margin-bottom: -212px;
}

.menu-acording {
    display: flex;
    justify-content: space-between;
    
}

.menu-a {
    margin-left: 60px;
    margin-top: 30px;
}

.menu-a > div > a {
    font-family: 'Barlow', sans-serif;
    font-size: 1.8em;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.menu-itens {
    display: flex;
    margin-right: 70px;
    margin-top: 50px;
    gap: 45px;
}

.menu-itens > div > a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-family: 'Barlow', sans-serif;
}

.contact {
    background-color: white;
    color: var(--Darkblue);
    font-family: 'Fraunces', serif; 
    padding: 15px 25px 15px 25px;
    border-radius: 25px;
    font-size: 0.9em;
    

}

header > div > h1 {
    text-align: center;
    margin-top: 120px;
    font-family: 'Fraunces', serif; 
    font-size: 2.5em;
    letter-spacing: 8px;
    color: white;
}



.egg-section {
    display: flex;
    
    margin-bottom: -5px;
}

.box-egg-img {
    width: 47vw;
    float: right;
    background-clip: content-box;
    
}

.egg-img {
    width: 50vw;
}

.egg-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    width: 50vw;
    float: left;
    
}

.egg-content > h1 {
    font-family: 'Fraunces', serif; 
    font-size: 2.5em;
    margin-right: 30px;   
}

.egg-content > p {
    font-family: 'Barlow', sans-serif;
    margin-left: 153px;
    margin-top: 30px;
    padding-right: 60px;
    color: var(--Darkgrayishblue);
}

.egg-content > a {
    text-decoration-color: var(--Yellow);
    text-decoration-thickness: 2px;
    color: black;
    font-family:'Fraunces', serif;
    letter-spacing: 2px;
    font-weight: 900;
    margin-top: 50px;
    margin-right: 200px;
}

.cup-section {
    display: flex;
}

.box-cup-img {
    float: left;
    width: 50%;  
}

.cup-img {
    background-clip: content-box;
    width: 50vw;
}

.cup-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: right;
    width: 50vw;
    margin-bottom: 80px;
}

.cup-content h1 {
    font-family: 'Fraunces', serif; 
    font-size: 2.2em;
}

.cup-content p {
    margin-left: 137px;
    margin-top: 30px;
    padding-right: 100px;
    font-family: 'Barlow', sans-serif;
    color: var(--Darkgrayishblue);
}

.cup-content a {
    text-decoration: underline;
    text-decoration-color: var(--Softred);
    text-decoration-thickness: 2px;
    font-family:'Fraunces', serif;
    color: black;
    margin-top: 80px;
    letter-spacing: 2px;
    font-weight: 900;
    margin-right: 230px;
}

.cherry-orange {
    display: flex;
    margin-top: -5px;
    height: 600px;
    
}

.cherry {
    background-image: url(images/desktop/image-graphic-design.jpg);
    float: left;
    width: 50.3vw;
    
}

.orange {
    background-image: url(images/desktop/image-photography.jpg);
    float: right;
    width: 49vw;
}

.cherry-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 60%;
}

.cherry-content h1 {
    font-family: 'Fraunces', serif; 
    font-weight: 900;
    color: var(--Darkdesaturatedcyan); 
    font-size: 1.5em;
}

.cherry-content  p {
    font-family: 'Barlow', sans-serif;
    margin-top: 20px;
    font-size: 0.8em;
    padding-left: 190px;
    padding-right: 190px;
    color: var(--Darkdesaturatedcyan);
    line-height: 23px;
}

.orange-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 60%; 
}

.orange-content h1 {
    font-family: 'Fraunces', serif; 
    font-weight: 900;
    color: var(--Darkdesaturatedcyan); 
    font-size: 1.5em;
}

.orange-content p {
    font-family: 'Barlow', sans-serif;
    margin-top: 20px;
    font-size: 0.8em;
    padding-left: 190px;
    padding-right: 190px;
    color: var(--Darkdesaturatedcyan);
    line-height: 23px;   
}

.content-interactive {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 150px;
}

.title-interactive h1 {
    color: var(--Darkgrayishblue);
    font-family: 'Fraunces', serif;
    font-size: 1.3em; 
    letter-spacing: 3px;
}

.content-prof {
    display: flex;
    flex-direction: row;
    margin-right: 60px;
    margin-left: 50px;
    margin-top: 120px;
}

.box-prof {
    display: flex;
    flex-direction: column;
}

.img-box {
    margin-bottom: 40px;
}

.img-box > img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.box-msg {
    padding-left: 30px;
    padding-right: 30px;
}

.box-msg p {
    font-family: 'Barlow', sans-serif;
    color: var(--Verydarkgrayishblue);
    line-height: 27px
}

.box-fot {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 10px;
}

.name-prof {
    color: black;
    font-family: 'Fraunces', serif;
    font-weight: 900;
}

.job {
    font-family: 'Barlow', sans-serif; 
    color: var(--Grayishblue);
    font-size: 0.8em;
}

.photos {
    display: flex;
}

.photos > img {
    width: 25%;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 50px;
    background-color: rgb(145, 211, 198);
}

.fot-title {
    margin-top: 50px;
}

.fot-title > a {
    text-decoration: none;
    color: var(--Darkblue);
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 1.6em;
}

.links-down {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
}

.links-down > div > a {
    text-decoration: none;
    color: var(--Darkblue);
    font-family: 'Barlow', sans-serif; 
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 55px; 
}

.hamb {
    display: none;
}

.icons > div > i {
    color: var(--Darkblue);
}

.icons > div > i:hover {
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    body {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        overflow-x: hidden;
        z-index: 2;
        margin-bottom: 0;
        
    }

    header {
        background-image: url(images/desktop/image-header.jpg);
        min-height: 100vh;
        background-size:100vh;
        
        
        
    }

    .menu-acording {
        display: flex;
        flex-direction: column;
    }

    .menu-a {
        display: flex;
        justify-content: space-between;
        margin-left: 30px;
        
        
    }

    .hamb {
        display: block;
        margin-right: 20px;
        margin-top: 12px;
        cursor: pointer;
    }

    .menu-itens {
        display: flex;   
        position: absolute;
        flex-direction: column;
        text-align: center;
        top: 8%;
        width: 350px;  
        margin-left: 70px;
        background-color: white;
        padding-bottom: 30px;
        padding-top: 30px;
        z-index: 1;
    }

    .display {
        display: none;
    }

    

    .menu-itens > div > a {
        color: black;
        font-family: 'Barlow', sans-serif;
        
        
    }

    header > div > h1 {
        margin-top: 50px;
        font-size: 2em;
        
    }

    header > div > h1 > img {
        margin-bottom: 131px;
    }

    main {
        display: flex;
        flex-direction: column;
    } 
    
    .egg-section {
        display: flex;
        flex-direction: column-reverse;
        margin-top: -189px;
    }

    .egg-content {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;  
        width: 100vw;
        margin-left: 10px;
    }

    .egg-img {
        width: 100vw;
    }

    .egg-content h1 {
        text-align: center;
        margin-top: 30px;
    }

    .egg-content p {
        text-align: center;
        margin-right: 170px;
        padding: 0px;
        width: 430px;
    }

    .egg-content a {
        text-align: center;
        margin-left: 170px;
        padding: 0px;
        width: 200px;
    }

    .cup-section {
        display: flex;
        flex-direction: column;
    }

    .cup-img {
        width: 100vw;
    }

    .cup-content {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;  
        width: 100vw;
        
    }

    .cup-content h1 {
        text-align: center;
        margin-top: 30px;
    }

    .cup-content p {
        text-align: center;
        margin-right: 135px;
        padding: 0px;
        width: 400px;
    }

    .cup-content a { 
        text-align: center;
        margin-left: 215px;
        padding: 0px;
        width: 200px;
    }

    .cherry-orange {
        display: flex;
        flex-direction: column;
    }

    .cherry {
        width: 100vw;
        background-position: top center;
        background-repeat: no-repeat;
    }

    .cherry-content h1 {
        margin-top: 60px;
    }

    .cherry-content p {
        text-align: center;
        width: 400px;
        padding: 0px;
        margin-left: 45px;
        padding-bottom: 30px;
    }

    .orange {
        width: 100vw;
        background-position: top center;
        background-repeat: no-repeat; 
    }

    .orange-content h1 {
        margin-top: 60px; 
    }

    .orange-content p {
        text-align: center;
        width: 400px;
        padding: 0px;
        margin-left: 45px;
        padding-bottom: 30px;
    }

    .content-interactive {
        display: flex;
        flex-direction: column;
        margin-top: 470px;
    }

    .content-prof {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }

    .box-prof {
        margin-top: 80px;
    }

    .photos {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
    }

    .photos img {
        flex: 0 0 50%;
    }

    footer {
        padding-bottom: 100px;
    }
}