@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,600;1,900&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    width: 100vw;
    font-size: 18px;
    
    
}

:root {
    --Softred: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Darkdesaturatedcyan: hsl(167, 40%, 24%);
    --Darkblue: hsl(198, 62%, 26%);
    --Darkmoderatecyan: hsl(168, 34%, 41%);

    --Verydarkdesaturatedblue: hsl(212, 27%, 19%);
    --Verydarkgrayishblue: hsl(213, 9%, 39%);
    --Darkgrayishblue: hsl(232, 10%, 55%);
    --Grayishblue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);

    /*  font-family: 'Barlow', sans-serif;
        font-family: 'Fraunces', serif; 
    */
}

header {
    background-image: url(images/desktop/image-header.jpg);
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-clip: content-box;
    padding-top: 0px;
    height: 100%;
    width: 100%;

    
}

.menu-acording {
    display: flex;
    justify-content: space-between;
    
}

.menu-a {
    margin-left: 60px;
    margin-top: 30px;
}

.menu-a > a {
    font-family: 'Barlow', sans-serif;
    font-size: 1.8em;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.menu-itens {
    display: flex;
    margin-right: 70px;
    margin-top: 50px;
    gap: 45px;
}

.menu-itens > div > a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-family: 'Barlow', sans-serif;
}

.contact {
    background-color: white;
    color: var(--Darkblue);
    font-family: 'Fraunces', serif; 
    padding: 15px 25px 15px 25px;
    border-radius: 25px;
    font-size: 0.9em;
    

}

header > div > h1 {
    text-align: center;
    margin-top: 120px;
    font-family: 'Fraunces', serif; 
    font-size: 2.5em;
    letter-spacing: 8px;
    color: white;
}

.egg-section {
    display: flex;
    margin-bottom: -5px;
}

.box-egg-img {
    width: 50%;
    float: right;
    background-clip: content-box;
    width: 300px;
}

.egg-img {
    background-clip: content-box;
    width: 680px;
}

.egg-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    width: 50%;
    float: left;
    
}

.egg-content > h1 {
    font-family: 'Fraunces', serif; 
    font-size: 2.5em;
    margin-right: 30px;   
}

.egg-content > p {
    font-family: 'Barlow', sans-serif;
    margin-left: 153px;
    margin-top: 30px;
    padding-right: 60px;
    color: var(--Darkgrayishblue);
}

.egg-content > a {
    text-decoration-color: var(--Yellow);
    text-decoration-thickness: 2px;
    color: black;
    font-family:'Fraunces', serif;
    letter-spacing: 2px;
    font-weight: 900;
    margin-top: 50px;
    margin-right: 200px;
}

.cup-section {
    display: flex;
}

.box-cup-img {
    float: left;
    width: 50%;  
}

.cup-img {
    background-clip: content-box;
    width: 680px;
}

.cup-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: right;
    width: 50%;
    margin-bottom: 50px;
}

.cup-content h1 {
    font-family: 'Fraunces', serif; 
    font-size: 2.2em;
}

.cup-content p {
    margin-left: 137px;
    margin-top: 30px;
    padding-right: 100px;
    font-family: 'Barlow', sans-serif;
    color: var(--Darkgrayishblue);
}

.cup-content a {
    text-decoration: underline;
    text-decoration-color: var(--Softred);
    text-decoration-thickness: 2px;
    font-family:'Fraunces', serif;
    color: black;
    margin-top: 80px;
    letter-spacing: 2px;
    font-weight: 900;
    margin-right: 230px;
}

.cherry-orange {
    display: flex;
    margin-top: -5px;
    height: 600px;
    
}

.cherry {
    background-image: url(images/desktop/image-graphic-design.jpg);
    float: left;
    width: 50%;
    
}

.orange {
    background-image: url(images/desktop/image-photography.jpg);
    float: right;
    width: 50%;
}

.cherry-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 60%;
}

.cherry-content h1 {
    font-family: 'Fraunces', serif; 
    font-weight: 900;
    color: var(--Darkdesaturatedcyan); 
    font-size: 1.5em;
}

.cherry-content  p {
    font-family: 'Barlow', sans-serif;
    margin-top: 20px;
    font-size: 0.8em;
    padding-left: 190px;
    padding-right: 190px;
    color: var(--Darkdesaturatedcyan);
    line-height: 23px;
}

.orange-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 60%; 
}

.orange-content h1 {
    font-family: 'Fraunces', serif; 
    font-weight: 900;
    color: var(--Darkdesaturatedcyan); 
    font-size: 1.5em;
}

.orange-content p {
    font-family: 'Barlow', sans-serif;
    margin-top: 20px;
    font-size: 0.8em;
    padding-left: 190px;
    padding-right: 190px;
    color: var(--Darkdesaturatedcyan);
    line-height: 23px;   
}

.content-interactive {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 150px;
}

.title-interactive h1 {
    color: var(--Darkgrayishblue);
    font-family: 'Fraunces', serif;
    font-size: 1.3em; 
    letter-spacing: 3px;
}

.content-prof {
    display: flex;
    flex-direction: row;
    margin-right: 60px;
    margin-left: 50px;
    margin-top: 120px;
}

.box-prof {
    display: flex;
    flex-direction: column;
}

.img-box {
    margin-bottom: 40px;
}

.img-box > img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.box-msg {
    padding-left: 30px;
    padding-right: 30px;
}

.box-msg p {
    font-family: 'Barlow', sans-serif;
    color: var(--Verydarkgrayishblue);
    line-height: 27px
}

.box-fot {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 10px;
}

.name-prof {
    color: black;
    font-family: 'Fraunces', serif;
    font-weight: 900;
}

.job {
    font-family: 'Barlow', sans-serif; 
    color: var(--Grayishblue);
    font-size: 0.8em;
}

.photos {
    display: flex;
}

.photos > img {
    width: 25%;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 50px;
    background-color: rgb(145, 211, 198);
}

.fot-title {
    margin-top: 50px;
}

.fot-title > a {
    text-decoration: none;
    color: var(--Darkblue);
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 1.6em;
}

.links-down {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
}

.links-down > div > a {
    text-decoration: none;
    color: var(--Darkblue);
    font-family: 'Barlow', sans-serif; 
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 55px; 
}

.icons > div > i {
    color: var(--Darkblue);
}
